footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #EE9972; 
    height: 350px;
    padding: 10px;
    padding-inline: 20%;
}

footer img{
    transform: scale(0.7);
}

footer p{
    color: black;
}